.form{
    background-color: #ffffff;
    border: none; 
    border-radius: 15px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2); 
    padding: 20px;
    height: 100%;
}

.button-container{
    display: flex;
    justify-content: space-evenly;

    .submit-button,
    .reset-button{
        border: 2px solid black; /*curved border*/
        border-radius: 20px;
        padding: 10px 20px;
        background-color: white;
        color: black;
        transition: background-color 0.3s, color 0.3s;
        margin-right: 10px; 
    }

    .submit-button:hover{
        background-color: #64E164;
        color: white;
    }

    .reset-button:hover{
        background-color: #e44949;
        color: white;
    }
}