.icon{
    font-size: 100px;
    animation: rotate 4s linear infinite;
    color: black;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}