.leadboard{
	border: None;
	border-radius: 15px;
	box-shadow:  0 1px 2px rgba(0, 0, 0, 0.2);
	padding: 20px;
	height: 100%;
}

.title {
	text-align: center;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-size: 32px;
	color: black;
}

.gold {
	background-color: gold !important;
}

.silver {
	background-color: silver !important;
}

.bronze {
	background-color: burlywood !important;
}
