.progress-bar {
	display: flex;
	flex-direction: row !important;
	--bs-border-color: black;
	border-radius: 25px;


	.progress-block {
		background-color: whitesmoke;
		margin: 0px 1px; /* Top Right Bottom Left */
		width: 10%;
	}

	/* Adjust margins for the first and last blocks */
	.progress-block:first-child {
		margin-left: 0;
	}

	.progress-block:last-child {
		margin-right: 0;
	}

	.progress-block.active {
		background-color: grey;
	}
}
