html,
body {
	height: 100%;
	margin: 0;
	padding: 0;
}

/*Borders + margins to visualize the boxes*/
.main-container {
	display: flex;
	border: 1px solid black;
	flex-direction: column;
	background-color: #f0f2f5;

	.top-container {
		display: flex;
		flex-direction: row;
		height: 600px;

		.left-container {
			display: flex;
			flex-direction: column;
			width: 35%;

			.header-container {
				display: flex;
				flex-direction: row;
				height: 20%;

				.icon-comp {
					display: flex;
					justify-content: center;
					align-items: center;
					width: 30%;
					padding-bottom: 10px;
					padding-right: 10px;
				}

				.header-comp {
					padding-top: 30px;
					width: 70%;
				}
			}

			.form-container {
				display: flex;
				justify-content: flex-end;
				/* margin: 1px;
				border: 2px solid red; */
				height: 80%;

				.form-comp {
					/* margin: 1px;
					border: 2px solid black; */
					height: 100%;
					width: 80%;
					background-color: whitesmoke;
				}
			}
		}

		.right-container {
			display: flex;
			flex-direction: column;
			
			width: 65%;

			.message-board-container {
				display: flex;
				flex-direction: column;
				align-items: flex-end;
				margin-right: 50px;
				/* margin: 1px;
				border: 2px solid red; */
				height: 70%;

				.message-board-title {
					display: flex;
					height: 10%;
					width: 70%;
					/* margin: 1px;
					border: 2px solid black; */
				}

				.message-board-table {
					background-color: white;
					display: flex;
					flex-direction: column;
					margin: 1px;
					border: none;
					border-radius: 15px;
					box-shadow: 0 1px 2px rgba(0,5 0, 0, 0.2);
					padding: 5px;
					height: 90%;
					width: 70%;
				}
			}

			.progress-bar-container {
				display: flex;
				flex-direction: column;
				align-items: flex-start;
				margin-right: 20px;
				border-radius: 25%;
				height: 30%;
				width: 95%;
				margin-left: auto;

				.progress-bar-timer-comp {
					/* margin: 1px;
					border: 2px solid black; */
					height: 50%;
					width: 40%;
					color: black;
				}

				.progress-bar-comp {
					/* margin: 1px;
					border: 2px solid black; */
					height: 50%;
					width: 100%;
				}
			}
		}
	}

	.bot-container {
		display: flex;
		justify-content: center;
		height: 600px;
		padding-top: 50px;
		

		.job-board-comp {
			/* margin: 1px;
			border: 2px solid black; */
			width: 80%;
			
		}
	}
}
